*{
    margin: 0;
    padding: 0;
}

/*Barra de navegación*/

header{
    background-color: gray;
}

header nav{
    padding: 0.5%;
}

#navBar{
    overflow: hidden;
}

#navBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navItem{
    flex: 1;
}

.navItem a{
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 0.05em;
    text-decoration: none;
}

.navItem a:hover{
    background-color: whitesmoke;
    color: grey;
}

/*Body*/

body{
    display: grid;
    background-color: beige;
    color: black;

    h1{
        color: chocolate;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 5em;
    }

    h3{
        color: chocolate;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3em;
    }

    p{
        text-align: justify;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2em;        
    }
}